[Oo]bj/
[Bb]in/
*.user
target/
*ReSharper*
*resharper*
*.suo
*.cache
Thumbs.db
*.bak
*.cache
*.log
*.log.*
log.txt
*.swp
*.docstates
*.dotCover
*.DotSettings
_compareTemp
_notes
aspnet_client
httpd.parse.errors
packages/
